<div class="containerContenidoAbout">
    <div class="contenidoAbout">
      <h1>Sobre nosotros</h1>
      <p>
        Cras porttitor magna lorem, vitae varius augue feugiat vel. Praesent venenatis vulputate ex, vel posuere turpis. Phasellus eu ultricies dolor. Nunc sollicitudin varius lorem, in porttitor augue convallis non. Aenean sit amet libero eu lorem euismod euismod vel in metus. Ut tempor est velit, at blandit mi molestie vitae. Suspendisse porta commodo auctor. Nulla at enim tellus. Nullam ac condimentum nunc, a volutpat ante. Suspendisse potenti. Aenean aliquam dui quis tellus egestas, non suscipit diam sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam rhoncus, mi aliquet porta consequat, ante massa dapibus orci, sed rutrum metus metus at turpis. Aenean tortor lectus, ultrices eget sagittis et, tempor nec odio. Morbi est metus, ullamcorper a mattis non, condimentum nec justo. Sed hendrerit metus varius commodo viverra.

        Nullam porta vestibulum neque. Integer eros leo, faucibus vel maximus eget, volutpat vitae odio. Sed placerat lacus hendrerit nisi mattis ullamcorper. Vivamus fermentum varius massa, in consectetur tellus laoreet eu. Sed cursus molestie lacus nec venenatis. Fusce auctor, nisl tincidunt vehicula cursus, risus nulla viverra orci, sed consectetur augue dui ac nibh. Curabitur laoreet sollicitudin magna id posuere. Quisque porttitor, magna vel tempor facilisis, sapien turpis congue ante, eu euismod lacus justo ac urna.
      </p>
      </div>
      <img src="./assets/pexels-photo-2218946.jpeg" alt="cactus"/>
    </div>