<div class="content">
  <ul class="menu">
    <li><a routerLink="/"><img class="logo" alt="cactus-logo" src="/assets/logo.svg"></a></li>
    <div *ngIf="user">{{user.name.toUpperCase()}}</div>
    <li *ngIf="!user"><a routerLink="/register">REGISTRARSE</a></li>
    <li *ngIf="!user"><a routerLink="/login">LOGIN</a></li>
    <li *ngIf="user"><a class="enlace" (click)="logout()">LOG OUT</a></li> 
    <li><a routerLink="/tienda">TIENDA</a></li>
    <li *ngIf="user"><a routerLink="/cesta">CESTA</a></li>
  </ul>
  <router-outlet></router-outlet>
  <ul class="footer">
    <li><a routerLink="/about">Sobre nosotros</a></li>
    <li><a routerLink="/contacto">Contacto </a></li>
  </ul>
</div>