
<div class="inicio">
        <div class="imagenYTexto">
          <div class="contenedorImagen">
            <img class="imagenFondoInicio" src="/assets/pexels-photo-2749600.jpeg" alt="cactus" />
          </div>
          <p>
            Integer ultricies arcu ut lorem porta facilisis id vel odio. Fusce ac sodales mauris. Cras ut aliquet sem, ut tincidunt ligula. Pellentesque non feugiat nunc. Maecenas ultrices urna sem, vitae viverra lacus egestas nec. Etiam mattis tempor justo id congue. Quisque volutpat aliquet felis eget molestie.
            Nullam congue arcu diam, in finibus odio eleifend vitae. Integer sagittis magna in nisi ultrices, sed tempus mi semper. Vivamus consectetur velit ut nulla faucibus faucibus. Nullam mattis lectus eu pellentesque laoreet. Proin tincidunt sem in sollicitudin dictum. Aenean nunc nisi, lobortis nec mollis sed, pulvinar nec purus. In finibus, enim suscipit dapibus blandit, ipsum enim mattis mauris, vel elementum nulla nisi nec augue. Nam consequat mi sed urna suscipit, eget bibendum arcu varius.
            Integer ultricies arcu ut lorem porta facilisis id vel odio. Fusce ac sodales mauris. Cras ut aliquet sem, ut tincidunt ligula. Pellentesque non feugiat nunc. Maecenas ultrices urna sem, vitae viverra lacus egestas nec. Etiam mattis tempor justo id congue. Quisque volutpat aliquet felis eget molestie.
            Nullam congue arcu diam, in finibus odio eleifend vitae. Integer sagittis magna in nisi ultrices, sed tempus mi semper. Vivamus consectetur velit ut nulla faucibus faucibus. Nullam mattis lectus eu pellentesque laoreet. Proin tincidunt sem in sollicitudin dictum. Aenean nunc nisi, lobortis nec mollis sed, pulvinar nec purus. In finibus, enim suscipit dapibus blandit, ipsum enim mattis mauris, vel elementum nulla nisi nec augue. Nam consequat mi sed urna suscipit, eget bibendum arcu varius.
          </p>
        </div>
        <div class="main">
          <div class="nombrecactus">
            <h3 class="primerH1">CACTUS</h3>
            <h3 class="segundoH1">CACTUS</h3>
            <h3 class="tercerH1">CACTUS</h3>
            <h3 class="cuartoH1">CACTUS</h3>
            <h3 class="quintoH1">CACTUS</h3>
            <h3 class="sextoH1">CACTUS</h3>
            <h3 class="septimoH1">CACTUS</h3>
            <h3 class="octavoH1">CACTUS</h3>
          </div>
        </div>
  
      </div>